<!DOCTYPE html>
<html lang="en">
<head>
    <title>Imam's Portfolio</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  
    <link rel="stylesheet" type="text/css" href="css/style.css">

</head>
<body>
    
        <div class="container">
            <nav>
             <img src="image\logo2.png" class="logo" alt="Logo"> 
             <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/project">Projects</a></li>
                <li><a href="/services">Services</a></li>
                <li><a href="/contact">Contact Me</a></li>
            </ul>
          </nav>
        </div>

        <div class="details">
            <h2>Imam Hossain Muzumder Rony</h2>
            <p>Age: 20</p>
            <p>Location: Toronto,Ontario</p>
            <p>Student at Centennial College</p>
            <p>Studying Software Engineering Technician</p>
        </div>
    </section>
    <section class="description">
        <p>Hello, I'm Imam, a 20-year-old student from Bangladesh. <br>
         I am currently pursuing a degree in Software Engineering Technician at Centennial College. <br>
         I am passionate about coding, problem-solving, and building software that makes a positive impact. I enjoy learning new technologies and working on innovative projects.<br>
        Feel free to explore my portfolio to learn more about my work.</p>
    </section>
           
        </div>

        <div class="images">
            <img src="image\personal.png" alt="Admin">
        </div>
    <footer>
        <br>
        Copyright © 2023 Imam Hossain Muzumder Rony<br>
        <a href="mailto:irony@my.centennialcollege.ca">irony@my.centennialcollege.ca</a>
        <br>
    </footer>
</body>
</html>
