<!DOCTYPE html>
<html lang="en">
<head>
    <title>Imam's Portfolio</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  
    <link rel="stylesheet" type="text/css" href="css/style.css">

</head>
<body>
    
        <div class="container">
            <nav>
             <img src="image\logo2.png" class="logo" alt="Logo"> 
             <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/project">Projects</a></li>
                <li><a href="/services">Services</a></li>
                <li><a href="/contact">Contact Me</a></li>
            </ul>
          </nav>
        </div>
        <div class="detel">
            <h1>I'm <span>Imam Hossain Muzumder Rony</span> </h1>
            <p>This is my official portfolio website to showes all the
                <br> details and work I have done.
            </p>
            <a href="/Rony's resume doc 2.docx">Download Resume</a>
        </div>

        <div class="images">
            <img src="image\personal.png" alt="Admin">
        </div> 
    <footer>
        <br>
        Copyright © 2023 Imam Hossain Muzumder Rony<br>
        <a href="mailto:irony@my.centennialcollege.ca">irony@my.centennialcollege.ca</a>
        <br>
    </footer>
</body>
</html>
