<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Imam's Portfolio</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
    <!-- Navigation at the top -->
    <nav>
        <img src="image\logo2.png" class="logo" alt="Logo">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/project">Projects</a></li>
            <li><a href="/services">Services</a></li>
            <li><a href="/contact">Contact Me</a></li>
        </ul>
    </nav>
    
    <!-- Main content container -->
    <div class="container">

        <!-- Project Section 1 -->
        <div class="project">
            <h2>Project 1</h2>
            <h3 class="h3">Bug Smasher</h3>
            <img src="image\Bug_smasher_game.png" alt="Project 1 Image">
            <p>I've created a simple and fun Bug Smasher game using HTML, CSS, and JavaScript. 
                <br> In the game, a bug moves around the screen, and players score points by clicking on it. <br>
                They can reset their score and even adjust the bug's speed for added challenge. Enjoy the bug-smashing fun!
            </p>
        </div>

        <!-- Project Section 2 -->
        <div class="project">
            <h2>Project 2</h2>
            <h3 class="h3">Scientific Calculator</h3>
            <img src="image\calculator project.png" alt="Project 2 Image">
            <p>I've developed a versatile calculator in C# that serves as both a standard and scientific calculator. 
                <br> Not only that, it features a sleek dark mode for a modern and user-friendly design. <br>
                Enjoy the convenience of performing various calculations with ease, whether it's basic math or more advanced scientific functions, all while enjoying the stylish dark-themed interface.
            </p>
        </div>

        <!-- Project Section 3 -->
        <div class="project">
            <h2>Project 3</h2>
            <h3 class="h3">Financify: Personal Financial Assistant</h3>
            <p>Introducing "Financify: Your Personal Financial Manager" – your go-to solution for effective personal finance management.
                Version 1.0.0 of Financify tackles the universal challenge of financial tracking across various groups, including students seeking financial guidance, individuals managing tight budgets, and those well-versed in their finances.
                With the power of AI tools, our software makes understanding your financial situation a breeze. It tracks spending, aids in stock market decisions, and assists in building a secure investment portfolio for RESP, RRSP, TFSA, and more. Simplify your financial journey with Financify.
            </p>
        </div>
    </div>

    <!-- Footer at the bottom -->
    <footer>
        <br>
        Copyright © 2023 Imam Hossain Muzumder Rony<br>
        <a href="mailto:irony@my.centennialcollege.ca">irony@my.centennialcollege.ca</a>
        <br>
    </footer>
</body>
</html>
