<!DOCTYPE html>
<html lang="en">
<head>
    <title>Imam's Portfolio</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  
    <link rel="stylesheet" type="text/css" href="css/style.css">

</head>
<body>
    
        <div class="container">
            <nav>
             <img src="image\logo2.png" class="logo" alt="Logo"> 
             <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/project">Projects</a></li>
                <li><a href="/services">Services</a></li>
                <li><a href="/contact">Contact Me</a></li>
            </ul>
          </nav>
        </div>
        <section class="services">
            <div class="service">
                
                <h2>Web Development</h2>
                <p>Web development involves designing and building websites, focusing on user interface and functionality.<br>
                It includes front-end development for the visible part of a site and back-end development for server-side functionality.</p>
            </div>
            <div class="service">
               
                <h2>Mobile App Development</h2>
                <p>Web applications are software programs that run in a web browser. <br>
                They provide interactive and dynamic functionality, allowing users to perform tasks and access data online, such as online forms, email clients, and social media platforms.</p>
            </div>
            <div class="service">
               
                <h2>Software Development</h2>
                <p>Software development encompasses the creation of computer programs and applications. <br>
                It involves designing, coding, testing, and maintaining software to solve specific problems or meet business needs. It can include web, mobile, desktop, and embedded system development.




                </p>
            </div>
        </section>
    <footer>
        <br>
        Copyright © 2023 Imam Hossain Muzumder Rony<br>
        <a href="mailto:irony@my.centennialcollege.ca">irony@my.centennialcollege.ca</a>
        <br>
    </footer>
</body>
</html>
